@font-face {
	src: url(/static/3270-Regular.woff);
	font-family: ibm;
}

@font-face {
	src: url(/static/FantasqueSansMono-Regular.woff);
	font-family: fantasque;
}
/* Change these color properties to set your own palette for the page;
Either use keyworded colors (see https://www.w3schools.com/cssref/css_colors.asp)
Or use a notation (such as RGB, hex, or HSL) */
:root {
	--colorBackground: oldlace; /*Main Page Background*/
	--colorDivBorder: tan; /*<div> Border*/
	--colorDialogBorder: goldenrod; /*Dialog Box Border*/
	--colorDialogShadow: sienna; /*Dialog Box Shadow*/
	--colorInputBorder: sandybrown; /*Input Field Border*/
	--colorInputBGActive: peachpuff; /*Input Field Active Background*/
	--colorButtonShadow: saddlebrown; /*Button Lower Shadow*/
	--colorTableHeadBorder: tan; /*Table Header Row Border*/
	--colorTableDataBorder: tan; /*Table Data Row Border*/
}

body {
	background-color: var(--colorBackground);
	font-family: fantasque;
}

div {
	border: 4px outset var(--colorDivBorder);
	border-radius: 4px;
	margin: 8px;
}

#header, #sheets {
	width: 65%;
	margin: auto;
	margin-top: 8px;
}

.sheet {
	padding-top: 8px;
}

.brython-dialog-main {
	background-color: var(--colorBackground);
	border-color: var(--colorDialogBorder);
	box-shadow: 0px 4px 8px 4px var(--colorDialogShadow);
}

.brython-dialog-title {
	text-align: center;
	padding: 8px;
}

.brython-dialog-close {
	float: right;
	padding: 0px 4px 0px 4px;
	border: 2px outset var(--colorDialogBorder);
}

input, select, .brython-dialog-button {
	width: 240px;
	font-family: ibm;
	font-size: 14pt;
	font-weight: bold;
}

input[type = "button"], input[type = "checkbox"], input[type = "radio"], .brython-dialog-button {
	width: auto;
}

input[type = "button"], input:not([type]), input[type = "number"], .brython-dialog-button, button {
	background-color: var(--colorInputBGActive);
	border: 2px inset var(--colorInputBorder);
	border-radius: 2px;
	margin: 2px;
	text-align: center;
}

input[type = "number"][readonly], input:not([type])[readonly], input[type = "button"][disabled] {
	background-color: var(--colorBackground);
}

input:not([type]), input[type = "number"] {
	padding: 8px 0px 4px 0px;
}

input[type = "button"], .brython-dialog-button, button {
	border: 4px outset var(--colorInputBorder);
	border-radius: 2px;
	box-shadow: 0px 4px var(--colorButtonShadow);
	text-align: initial;
	position: relative;
}

input[type = "button"]:not(.skillButton):not(.featureButton):not(.itemButton) {
	bottom: 4px;
}

button {
	font-size: 16pt;
	border-width: 2px;
	box-shadow 0px 2px var(--colorButtonShadow);
	background-color: var(--colorBackground);
	width: auto;
}

select {
	width: 160px;
	appearance: none;
	border: 4px outset var(--colorInputBorder);
	border-radius: 2px;
	box-shadow: 0px 4px var(--colorButtonShadow);
	background-color: var(--colorInputBGActive);
	background-image: url(/static/favicon.downArrow.ico);
	background-repeat: no-repeat;
	background-size: 16pt;
	background-position: center right;
}

.brython-dialog-button {
	bottom: 4px;
	margin-top: 8px;
}

input[type = "button"]:active:not([disabled]), .brython-dialog-button:active, button:active, select:hover {
	border-style: inset;
	transform: translateY(4px);
	box-shadow: 0px 0px;
}

