<html>
	<title>FoF: Homepage</title>
	<head>
		<!--<script src = {{url_for("static", filename = "brython/brython.js")}}></script>
		<script src = {{url_for("static", filename = "brython/brython_stdlib.js")}}></script>-->
		<meta charset = "utf-8">
		<link rel = "stylesheet" href = {{url_for("static", filename = "generic.css")}}>
	</head>
	<body><!--onload = "brython()">-->
		<!--<script type="text/python" src = {{url_for("static", filename = "login.py")}}></script>-->
		<div id = "header">
			<h1>Flasks of Fantasy</h1> <br>
			<h2>A D&D Character Sheet Management Program</h2> <br>
			<h2>Written By Charles Cook and C.J. Surrett</h2> <br>
			<h3><a href = "/login/">Click here to log in</a></h3>
		</div>
	</body>
</html>
